body {
	background-color:rgb(214, 162, 29)	
}

#banner {
	width: 98%;
}

h1 {
	text-align: center;	
}

p {
	text-align: center;	
}

#missao {
	font-size: 25px
}

em strong {
	color: #8f1e89;
}
